* {
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after { /* stylelint-disable-line */
    box-sizing: inherit;
  }
  
  /* Leturstærðir: 16 24 32 48 */
  
  html { /* stylelint-disable-line */
    font-family: Lora, "Times New Roman", serif;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    
  }
  
  main { /* stylelint-disable-line */
    max-width: 1200px;
    margin: 80px auto;
  }
  
  .header {
    font-family: "Roboto Mono", "Courier New", monospace;
    text-align: center;
    position: relative;
    z-index: 1;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px;
    background: url("./img/header.jpg");
    background-position-y: -20px;
    background-size: cover;
    
  }
  .header__content {
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 40px;
  }

  .header__paragraph {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
 
  .options {
    min-width: 475px;
    margin-bottom: 20px;
  }
  
  .options__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: center;
  }
  
  .options__col {
    padding-right: 10px;
    padding-left: 10px;
  }

  .option__button {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 32px;
    font-weight: 600;
    background-color: #ccc;
    border: hidden;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
  }
  
  .option__button:hover, .lectures__text:hover { /* stylelint-disable-line */
    background-color: #999;
    transition: ease-in-out 0.3s;
  }
  
  .button--clicked:hover { /* stylelint-disable-line */
    background-color: #1a1;
    transition: ease-in-out 0.3s;
  }

  .green {
    font-family: "Roboto Mono", "Courier New", monospace; 
    font-size: 48px;
    font-weight: 600;
    color: #2d2;
    background-color: #2d2;
  }

  li { /* stylelint-disable-line */
    margin: 20px 0;
  }
  
  .quote {
    padding: 20px;
    margin-right: -20px;
    margin-left: -20px;
    background-color: #ccc;
  }
  
  .lect__heading {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0;
  }
  
  .lect__text {
    font-family: Lora, "Times New Roman", serif;
    font-size: 16px;
  }
  
  .header__lect {
    font-family: "Roboto Mono", "Courier New", monospace;
    text-align: center;
    margin-bottom: 20px;
    background-position-y: -20px;
    background-size: cover;
  }
  
  .lect__item {
    margin: 40px 0;
  }

  .lectures__paragraph {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .lectures__title {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 32px;
    font-weight: 600;
  }
  
  .lectures__card p + p { /* stylelint-disable-line */
    display: inline;
  }
  
  .image {
    max-width: 100%;
  }
  
  a { /* stylelint-disable-line */
    color: #000;
    text-decoration: none;
  }
  
  blockquote p { /* stylelint-disable-line */
    margin: 20px 0;
  }
  
  .footer__paragraph {
    margin-bottom: 40px;
  }
  
  .lectures {
    margin-bottom: 20px;
  }
  
  .lectures__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  .lectures__col {
    display: flex;
    flex-wrap: wrap;
    width: 33.33333333333%;
    padding: 0 10px;
  }
  
  .lectures__card {
    position: relative;
    display: flex;
    width: 100%;
    height: 350px;
    padding: 20px;
    margin: 20px 0;
    background-color: #ccc;
    border: 0;
    align-items: flex-end;
  }
  
  .lect__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .lect__col {
    display: flex;
    width: 66.666666666666667%;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .lect__content {
    position: relative;
  }
  
  .pic1 {
    background: url("./img/thumb1.jpg");
  }
  
  .pic2 {
    background: url("./img/thumb2.jpg");
  }
  
  .pic3 {
    background: url("./img/thumb3.jpg");
  }
  
  .pic4 {
    background: url("./img/thumb4.jpg");
  }
  
  .pic5 {
    background: url("./img/thumb5.jpg");
  }
  
  .pic6 {
    background: url("./img/thumb6.jpg");
  }
  
  .pic7 {
    background: url("./img/thumb7.jpg");
  }
  
  .pic8 {
    background: url("./img/thumb8.jpg");
  }
  
  .pic9 {
    background: url("./img/thumb9.jpg");
  }
  
  .pic10 {
    background: url("./img/thumb10.jpg");
  }
  
  .lectures__text {
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #ccc;
  }
  
  .lectures__text--lg {
    top: 200px;
  }
  
  .hide {
    display: none;
  }
  
  @media (max-width: 999px) {
    .lectures__col {
      width: 50%;
    }
  }
  
  @media (max-width: 599px) {
    .lectures__col {
      width: 100%;
      padding: 0 20px;
    }
  
    .lectures__card--sm {
      height: 100px;
    }
  
    .lectures__text--sm {
      top: 0;
    }
  }