.button__container {
  display: flex;
  margin-top: $gutter;
  margin-bottom: $gutter;
  justify-content: center;
}

.button {
  padding: 8px;
  padding-right: $gutter;
  padding-left: $gutter;
  display: flex;
  margin-right: $gutter;
  margin-left: $gutter;
  border: none;
  font-family: $font-heading;
  border-radius: 4px;

  font-size: 1em;
  font-weight: Bold;
  text-align: center;
  background-color: $color-grey;
  transition: color 0.3s ease-in-out;
}

.button:hover {
  background-color: $color-darkGrey;
}

.sort__button {
  padding: 8px;
  padding-right: $gutter;
  padding-left: $gutter;
  display: flex;
  margin-right: $gutter;
  margin-left: $gutter;
  border: none;
  font-family: $font-heading;
  border-radius: 4px;

  font-size: 1em;
  font-weight: Bold;
  text-align: center;
  background-color: $color-green;
  transition: color 0.3s ease-in-out;
}

.sort__button:hover {
  background-color: $color-dankGreen;
}

.invisible {
  display: none;
}
