.lect__main {
  max-width: 1220px;
  margin: 0 auto;
}

.lect__list {
  margin: 0 auto;
}

.text,
.quote,
.image__container,
.youtube,
.category__heading,
.list__item {
  margin-bottom: $gutter;
}

.youtube {
  width: 100%;
  height: 380px;
}

.quote {
  padding: $gutter;
}

.quote__container {
  background-color: $color-grey;
}

.quoteAuthor {
  padding-bottom: $gutter;
  padding-left: $gutter;
  font-style: italic;
}

.imgText {
  margin-top: 0;
  margin-bottom: 0;
}

.category__heading {
  margin-top: $gutter;
}

.list__item {
  margin-left: $gutter;
  font-family: $font-main;
}

.code {
  min-height: 1em;
  font-family: $font-heading;
}

.back__container {
  margin-top: $gutter;
  margin-bottom: 2*$gutter;
  text-align: center;
}

.finished__container {
  display: flex;
  height: 1em;
  margin-top: 2*$gutter;
  margin-bottom: 2*$gutter;
  justify-content: center;
}

.finished__done {
  font-family: $font-heading;
  color: $color-dankGreen;
  text-decoration: none;
}

.back__link,
.finished {
  font-family: $font-heading;
  color: $color-black;
  text-decoration: none;
}

.seeImage {
  width: 20px;
  font-weight: bold;
  color: $color-dankGreen;
  visibility: visible;
}

.dontSeeImage {
  width: 20px;
  visibility: hidden;
}
