* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.html {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 16px;
}

//  eslint-disable-next-line no-shadow
h1,
// eslint-disable-next-line no-shadow
h2 {
  font-family: $font-heading;
}

.header {
  position: relative;
  max-width: 100vw;
  height: 40vh;
  margin-bottom: $gutter;
  background: url("/img/header.jpg") 50% 50% fixed;
  background-size: cover;
}

.header__lect-page {
  background: url("/img/code.jpg") 50% 50% fixed;
}

.protection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.header__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.header__texti,
.overHeader__texti {
  display: flex;
  margin: 0 auto;
  font-family: $font-heading;
  text-align: center;
}

.overHeader__texti {
  font-size: 3em;
}

.header__texti {
  font-size: 1em;
}
