.main {
  max-width: $max-width;
  padding-right: $gutter;
  padding-left: $gutter;
  margin: 0 auto;
  font-family: $font-heading;
}

.p {
  font-family: $font-main;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.list__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.lectContainer,
.lectContainer__noImg {
  display: flex;
  width: 100%;
  margin-right: 2 * $gutter;
  margin-bottom: $gutter;
  margin-left: 2 * $gutter;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey;
}

.lectContainer:hover {
  background-color: $color-darkGrey;
}

.index__textElement {
  display: flex;
  width: 100%;
  margin-bottom: $gutter;
  align-items: flex-end;
}

.finished__image {
  width: 20%;
  align-self: stretch;
}

.finished__image__visable {
  width: 20%;
}

.index__lectText {
  display: flex;
  min-width: 80%;
  margin-top: 0.5 * $gutter;
  margin-bottom: 0.5 * $gutter;
  flex-direction: column;
}

.index__lectCategory,
.index__lectTitle {
  margin-left: $gutter;
  color: $color-black;
}

.index__lectTitle {
  margin-bottom: 0.5 * $gutter;
  font-family: $font-heading;
  font-size: 1.5em;
}

.index__lectCategory {
  font-family: $font-main;
  text-decoration: none;
}

.index__lectImage {
  width: 100%;
}

.index__lectImg {
  width: 100%;
  margin-bottom: -10px;
}

.finished__img {
  margin-bottom: 0.5*$gutter;
  font-size: 3em;
  font-weight: bold;
  color: $color-green;
}
